@tailwind base;
@tailwind components;
@tailwind utilities;

.threeButtons {
    display: flex;
    align-items: center;
}

@media (max-width:420px) {
    .noneDisplayAfter420px {
        display: none;
    }
}