.right-img{
	

	background:  url("https://images.pexels.com/photos/7129700/pexels-photo-7129700.jpeg?auto=compress&cs=tinysrgb&w=600");
	background-repeat: no-repeat;
	background-size: auto;
	transition: 0.3s;

}